.conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 40vw;
    margin: 0 auto;
}

.conteudo > div{
    padding: 3%;
    border: 0.5rem solid rgb(0, 0, 90) ;
    border-radius: 20px;
    margin: 3%;
    background-color: darkblue;

}

.conteudo > div h2{
    font-size: 2.5em;
    text-align: center;
    background-color: darkblue;

}

.conteudo > div img{
    display: block;
    max-width: 100%;
}

.conteudo > div p{
    font-size: 1.8em;
    background-color: darkblue;
}

.conteudo > div > figure figcaption {
    font-size: 1.5em;
    background-color: darkblue;
}

.conteudo > article{
    padding: 3%;
    border: 0.5rem solid rgb(0, 0, 90) ;
    border-radius: 15px;
    margin: 3%;
    background-color: darkblue;
}

.conteudo > article h2{
    font-size: 2.5em;
    text-align: center;
    background-color: darkblue;
}

.conteudo > article figure{
    background-color: darkblue;
}

.conteudo > article figcaption{
    background-color: darkblue;
    font-size: 1.5em;
}

.conteudo > article img{
    display: block;
    max-width: 100%;

}
